<app-menu></app-menu>
<router-outlet></router-outlet>
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Últimos Campeonatos - ADM Dashboard</h3>
          <br />
          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>Campeonatos</th>
                <th>Data de encerramento</th>
                <th>Campeonato</th>
              </tr>
            </thead>

            <tbody>
            <!--  @for (pessoa of lista; track $index) {
              <tr>
                <td>{{ campeonato.nome }}</td>
                <td>{{ campeonato.data }}</td>
                <td>{{ campeonato.campeao }}</td>
              </tr>
            } -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
