$petrol-blue: #008080;
$white: #ffffff;

button.custom-btn {
  background-color: $petrol-blue;
  color: $white;
  border-radius: 10px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;

  &:hover {
    background-color: lighten($petrol-blue, 10%);
  }

  &:active {
    background-color: darken($petrol-blue, 10%);
  }
}

.topo {
  top: 30vh;
  position: relative;
}

h3 {
  color: $petrol-blue;
  text-align: center;
}