<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h3>Autentique-se</h3>
          <br />
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="user"
              class="form-control"
              [(ngModel)]="user"
            />
            <label mdbLabel class="form-label" for="user">Usuário</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input
              mdbInput
              type="password"
              id="pass"
              class="form-control"
              [(ngModel)]="pass"
            />
            <label mdbLabel class="form-label" for="pass">Senha</label>
          </mdb-form-control>
          <br />
          <button type="button" class="btn btn-secondary btn-rounded" mdbRipple (click)="logar()">
            Entrar
          </button>
          <br />

          <div class="col-lg-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
