/* Reseta estilos básicos para garantir consistência */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Estilo de fundo da página - Azul Claro */
body {
    background: #ADD8E6;
}

.imageHeader {
    width: 10vh;
}

/* Estilo do cabeçalho com espaçamento entre os itens */
.header {
    display: flex;
    justify-content: space-between;
    padding: 1vh 4vw;
    align-items: center;
}

/* Estilo dos botões no cabeçalho */
.buttonHeader {
    width: 10vh;
    padding: 0.5vw;
    border-radius: 10vw;
    cursor: pointer;
    margin: 0.5vw;
    background-color: #003366;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.buttonHeader:hover {
    background-color: #002244;
}
