body {
    font-family: Arial, sans-serif;
    background-color: #292b2e;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: aliceblue;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    background-color: #4CAF50;
    color: rgb(241, 241, 241);
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
    font-size: 18px;
}

td:hover {
    background-color: #45a049;
}

.next-phase {
    background-color: #d4d4d4;
    color: black;
    cursor: default;
}
