/* Reseta estilos básicos para garantir consistência */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Estilo de fundo da página */
body {
    background: #333333;
}

/* Estilo para textos gerais na página */
.text {
    padding-bottom: 2vh;
    align-items: flex-start;
    color: white;
    padding-top: 5vh;
}

/* Estilo da tela de registro */
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

/* Estilo da tela principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo dos inputs e feedback de erro */
input {
    width: 50vw;
    max-width: 15em;
    margin: 1vh;
    border-radius: 10vh;
    height: 4vh;
    min-height: 30px;
    background-color: #545454;
    text-align: center;
    color: white; 
    transition: border 0.3s ease; 
}


input.error {
    border: 2px solid red; /* Borda vermelha para indicar erro */
}

/* Estilo da mensagem de erro */
.error-message {
    color: red;
    font-size: 0.9em; 
    padding-top: 1vh;
    display: none;
}

.label {
    padding-top: 1vh;
    display: flex;
    align-items: flex-start;
}

/* Estilo do botão de registro */
.botao {
    margin-top: 6vh; 
    width: 50vw; 
    max-width: 15em; 
    background: white; 
    border-radius: 10vh; 
    height: 5vh; 
    min-height: 35px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.botao:hover {
    transform: translateY(-10px);
}

/* Estilo da imagem de login */
.login_png {
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 35vw;
    max-width: 200px;
}


.input::placeholder {
    text-align: center;
    color: white;
    opacity: 0.8; 
}

/* Estilo da tela de login */
.text-login {
    color: white;
    padding-top: 1vh;
}

/* Estilo responsivo para telas maiores */
@media (min-width: 425px) {
    .input {
        max-width: 30em;
    }
}